<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>英语培育蕴德中心</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<link href="css/frozen.css" rel="stylesheet" />
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
		<script src="js/func.js"></script>
	</head>

	<body>
	    <form id="contactinfo" method="post">
			<header class="ui-header ui-header-positive ui-border-b">
				<h1>联系我们</h1>
			</header>
			<br />
			<br />
	
			<div class="page__bd">
			    <div class="weui-cells__title"><h4>如留下联系方式，中心人员将会及时联系您</h4></div>
	
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
						<div class="weui-cell__bd">
							<input name="phonenum_name" id="phonenum_id" class="weui-input" type="number" pattern="[0-9]*" placeholder="联系电话" />
						</div>
					</div>
					
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">电子邮件</label></div>
						<div class="weui-cell__bd">
							<input name="email_name" id="email_id" class="weui-input" type="text"  placeholder="电子邮件" />
						</div>
					</div>					
					
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">留言内容</label></div>
						<div class="weui-cell__bd">
							<textarea class="weui-textarea" name="contact_name" id="contact_id" style="background:#FCFCFC;border:none;display:table-cell;vertical-align:middle;"></textarea>
						</div>
					</div>
									
			</div>
				
			<div class="page-btn-area">
				<a class="page-btn page-btn_primary" href="javascript:setContactinfo();">存储</a>
				<input type="hidden" id="openid_id" name="openid_name" value="1" />
				<input type="hidden" id="nick_id" name="nick_name" value="1" />
				<input type="hidden" id="followid_id" name="followid_name" value="1" />
				<input type="hidden" id="memberid_id" name="memberid_name" value="1" />
				<input type="hidden" id="contactid_id" name="contactid_name" value="1" />
			</div>			
			
			<div class="weui-footer weui-footer_fixed-bottom">
				<p class="weui-footer__links">
					<a href="javascript:;" class="weui-footer__link">关于我们</a>
				</p>
				<p class="weui-footer__text">Copyright &copy; 2007-2017 wecareCRM</p>
			</div>
		
		</form>
		
		
		<script type="text/javascript">	
			//保存联络记录
			function setContactinfo() {
				var contactid = document.getElementById('contactid_id').value;
				
				if(contactid == '1'){
					insertContactinfo()
				}else {
					updateContactinfo()
				}
			
			}			
			//新增联络记录		
			function insertContactinfo() {
				var formdata = $('#contactinfo').serializeObject();
				//alert(formdata);					
						
				$.ajax({
					type: 'post',
					url: 'insertContactinfo',
					cache: false,
					dataType: 'json',
					data: JSON.stringify(formdata),
					contentType: 'application/json',
					　　　　　　async: false,
					success: function(data) {
						var result = JSON.stringify(data);
						alert('success:' + result);
					},
					error: function(data) {
						alert('failed:' + data.msg);
					}
				});
				
			}
			//更新联络记录		
			function updateContactinfo() {
				var formdata = $('#contactinfo').serializeObject();
				//alert(formdata);					
						
				$.ajax({
					type: 'post',
					url: 'updateContactinfo',
					cache: false,
					dataType: 'json',
					data: JSON.stringify(formdata),
					contentType: 'application/json',
					　　　　　　async: false,
					success: function(data) {
						var result = JSON.stringify(data);
						alert('success:' + result);
					},
					error: function(data) {
						alert('failed:' + data.msg);
					}
				});
				
			}
				
			//////////////// init form
			function getFollowerIDForMemberMgmt() {
				var openid = document.getElementById('openid_id').value;
				var params = {id: openid};

				$.ajax({
					type: 'get',
					url: 'getFollowerIDForMemberMgmt',
					cache: false,
					dataType: 'json',
					data: params,
					　　　　　　contentType: 'application/json',
					　　　　　　async: false,
					success: function(data) {
						$("#followid_id").val(data.id);
					},
					error: function(data) {
						//alert('failed:' + data.msg);
					}
				});
			}
			function getMemberIDForMemberMgmt() {
				var flid = document.getElementById('followid_id').value;
				var params = {id: flid};
				
				$.ajax({
					type: 'get',
					url: 'getMemberIDForMemberMgmt',
					cache: false,
					dataType: 'json',
					data: params,
					　　　　　　contentType: 'application/json',
					　　　　　　async: false,
					success: function(data) {
						$("#memberid_id").val(data.id);
					},
					error: function(data) {
						$("#memberid_id").val('1');
						alert('请先注册成为会员，在填写联络记录！');
					}
				});
			}
			//获取联络记录		
			function getContactinfo() {
				var formdata = $('#contactinfo').serializeObject();
				//alert(formdata);					
						
				$.ajax({
					type: 'post',
					url: 'getContactinfo',
					cache: false,
					dataType: 'json',
					data: JSON.stringify(formdata),
					contentType: 'application/json',
					　　　　　　async: false,
					success: function(data) {
						var result = JSON.stringify(data);
						alert('success:' + result);
					},
					error: function(data) {
						alert('failed:' + data.msg);
					}
				});
				
			}			
			
			//form 初始化			
			jQuery.getUrlParam = function (name) {
     			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
     			var r = window.location.search.substr(1).match(reg);
     			if (r != null) return unescape(r[2]); return null;
			} 
			$(document).ready(function() {				
				//				
				$("#openid_id").val($.getUrlParam('openid'));
				$("#nick_id").val($.getUrlParam('nickname'));
				
				getFollowerIDForMemberMgmt();
				getMemberIDForMemberMgmt();			
				//getContactinfo()	
				
			});
		</script>
	</body>

</html>