<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>会员管理入口页面</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/frozen.css">
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
	</head>

	<body>
	    <form id="memberindex" method="post">
		<header class="ui-header ui-header-positive ui-border-b">
			<h1>功能选项</h1>
		</header>
		<br />
		<br />
		<br />
		<br />
		<br />
		

		<div class="page__bd">

			<div class="page">
				<div class="weui-grids">
					<a href="javascript:memberregister();" class="weui-grid">
						<div class="weui-grid__icon">
							<img src="./images/frame_64.png" alt="">
						</div>
						<p class="weui-grid__label">会员注册</p>
					</a>
					<a href="javascript:memberinfo();" class="weui-grid">
						<div class="weui-grid__icon">
							<img src="./images/flag_64.png" alt="">
						</div>
						<p class="weui-grid__label">我的资料</p>
					</a>
					<a href="javascript:mypromotion();" class="weui-grid">
						<div class="weui-grid__icon">
							<img src="./images/gear_64.png" alt="">
						</div>
						<p class="weui-grid__label">我的推广</p>
					</a>
				</div>
			</div>

		</div>

		<div class="page__bd">
			<br />
			<br />
			<br />
						
			<input type="hidden" id="openid_id" name="openid_name" value="1" />
			<input type="hidden" id="followid_id" name="followid_name" value="1" />

		</div>

		<div class="weui-footer">
			<br />
			<br />
			<p class="weui-footer__links">
				<a href="javascript:;" class="weui-footer__link">关于我们</a>
			</p>
			<p class="weui-footer__text">Copyright &copy; 2007-2017 XXXXX</p>
		</div>
		
		</form>
		
		
		<script type="text/javascript">
			function parse_query_string(query) 
			{
				var params = {};
				if (query) 
				{
			   		var parts = query.substring(1).split('&');

			    	for (var i = 0; i < parts.length; i++) {
			       		var nv = parts[i].split('=');
			        	if (!nv[0]) continue;
			        	params[nv[0]] = nv[1] || true;
			    	}
				}

				return params;
			}
				
			function memberregister() {						
				var flid = document.getElementById('followid_id').value;
				
				if(flid != ""){
					$.ajax({
						type: 'get',
						url: 'memberregister',
						cache: false,
						async: false,
						dataType: 'json',
						　　　　　　contentType: 'application/json',
						success: function(data) {
							window.location.href = 'memberregister.html?flid=' + flid;
						},
						error: function(data) {
							alert(data.msg);
						}
					});
				} else {
					alert("资料有误");
				}
			}

			function memberinfo() {
				var flid = document.getElementById('followid_id').value;
				
				if(flid != ""){

					$.ajax({
						type: 'get',
						url: 'memberinfo',
						cache: false,
						async: false,
						dataType: 'json',
						　　　　　　contentType: 'application/json',
						success: function(data) {
							window.location.href = 'memberinfo.html?flid=' + flid;
						},
						error: function(data) {
							alert(data.msg);
						}
					});
				} else {
					alert("资料有误");
				}
			}

			function mypromotion() {
				var flid = document.getElementById('followid_id').value;
				var openid = document.getElementById('openid_id').value;
				
				if(flid != ""){
					$.ajax({
						type: 'get',
						url: 'mypromotion',
						cache: false,
						async: false,
						dataType: 'json',
						data: {openid: gbl_openid},
					　　　contentType: 'application/json',
						success: function(data) 
						{
							window.location.href = 'mypromotion?openid='+openid;
						},
						error: function(data) {
							alert(data.msg);
						}
					});
				} else {
					alert("资料有误");
				}
			}

			function register() {

				$.ajax({
					type: 'get',
					url: 'register',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'register';
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}
			
			//
			$.fn.serializeObject = function() {
				var o = {};
				var a = this.serializeArray();
				$.each(a, function() {
					if(o[this.name]) {
						if(!o[this.name].push) {
							o[this.name] = [o[this.name]];
						}
						o[this.name].push(this.value || '');
					} else {
						o[this.name] = this.value || '';
					}
				});
				return o;
			};

			function getFollowerIDForMemberMgmt() {
				var openid = document.getElementById('openid_id').value;
				var params = {id: openid};

				$.ajax({
					type: 'get',
					url: 'getFollowerIDForMemberMgmt',
					cache: false,
					dataType: 'json',
					data: params,
					　　　　　　contentType: 'application/json',
					　　　　　　async: false,
					success: function(data) {
						$("#followid_id").val(data.id);
						alert(data.id);
					},
					error: function(data) {
						alert('failed:' + data.msg);
					}
				});
			}
			
			jQuery.getUrlParam = function (name) {
     			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
     			var r = window.location.search.substr(1).match(reg);
     			if (r != null) return unescape(r[2]); return null;
			} 			
			
			$(document).ready(function() {				
				alert($.getUrlParam('openid'));
				//alert("888888");
				
				$("#openid_id").val($.getUrlParam('openid'));
				//$("#openid_id").val("888888");
				
				getFollowerIDForMemberMgmt();
			});
			
		</script>
	</body>

</html>