<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>菜单配置</title>
		<link href="../../css/style.css" rel="stylesheet" />
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
		<script src="js/func.js"></script>
	</head>
	<body>
		<div class="page-hd">
			<p class="page-title">菜单修改</p>
		</div>
		<form id="menuform">

			<div class="page-btn-area">
				<a class="page-btn page-btn_primary" href="javascript:updatemenu();">确定</a>
			</div>

		</form>
		<script type="text/javascript">
	
		function updatemenu() {

			$.ajax({  
                type: 'post',  
                url: 'setMenu',
                dataType : 'json',
      　　　　　　　　 	contentType : 'application/json',        
                success: function (data) { 
                	alert("Result code: " + data);
                },  
                error: function (data) {  
                	alert(data.msg);
                }  
            });
		}
			
		</script>
	</body>
</html>
