<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>英语培育蕴德中心</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<link href="css/frozen.css" rel="stylesheet" />
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
		<script src="js/func.js"></script>
	</head>

	<body>
		<form id="purchaselist" method="post">
			<header class="ui-header ui-header-positive ui-border-b">
 				<div class="ui-col ui-col-90"><h1><input readonly="readonly" id="marketing_title" style="border:0; background:none; color:#FFFFFF; text-align:center" value="已购买的产品" /></h1></div>
    			<div class="ui-col ui-col-10"><a href="javascript:gobackIndexMember();"><div class="weui-cell__hd"><img src="./images/home.png"  alt="" style="width:20px;vertical-align:middle"></div></a></div>		    			
    		</header>
			<br />
			<br />

        	<div id="searchresult"> 
	       	</div>
			
			<div class="weui-cells">
                <input type="hidden" id="memberid" value="1" />
				<input type="hidden" id="openid_id" name="openid_name" value="1" />
				<input type="hidden" id="nick_id" name="nick_name" value="1" />		
	       		
			</div>


			<div class="weui-footer weui-footer_fixed-bottom">
				<br />
				<br />
				<p class="weui-footer__links">
					<a href="javascript:;" class="weui-footer__link">关于我们</a>
				</p>
				<p class="weui-footer__text">Copyright &copy; 2007-2017 wecareCRM</p>
			</div>
		</form>

        <script id="purchase-template" type="text/html">
			 <a class="weui-cell weui-cell_access" href="javascript:feedbacklist('<#= id #>');">
	                <div class="weui-cell__hd"><img src="./images/product.png"  alt="" style="width:20px;margin-right:5px;display:block"></div>
	                <div class="weui-cell__bd">
	                    <p><#= name #></p>
	                </div>
	                <div class="weui-cell__ft">查看</div>
	         </a>			
		</script>

		<script type="text/javascript">
        	
        	function getPurchaselist(){
				var memberid = document.getElementById('memberid').value;
				var params = {id: memberid};
				
				$.ajax({  
			        type: 'get',  
			        url: 'getPurchaselist',
			        cache: false,
			        dataType : 'json',
			        data: params,
			　　　　　　 	contentType : 'application/json', 
			　　　　　　 	async: false,
			        success: function (data) { 	
			        	var result= JSON.stringify(data);
			        	
			        	var htmllist = '';
			        	data.purchase.forEach(function(object) {			        		
			        		var output = $('#purchase-template').parseTemplate(object);			        		
			        		htmllist += output;
			        	});
			        	
			        	$('#searchresult').html(htmllist); 
			        			        				        	
			        },  
			        error: function (data) { 		        	
			        	//alert('failed:' + data.msg);
			        }  
			    });
			}		
		
			function feedbacklist(id) {
				var openid = document.getElementById('openid_id').value;
				var nkid = document.getElementById('nick_id').value;
				
				$.ajax({
					type: 'get',
					url: 'feedbacklist',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'feedbacklist.html?purid=' + id + '&openid='+openid+'&nickname='+nkid;
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}
			
			function gobackIndexMember() {
				var openid = document.getElementById('openid_id').value;
				var nkid = document.getElementById('nick_id').value;
				
				$.ajax({
					type: 'get',
					url: 'goindexmember',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'indexmember.html?openid='+openid+'&nickname='+nkid;
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}			
			
			jQuery.getUrlParam = function (name) {
     			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
     			var r = window.location.search.substr(1).match(reg);
     			if (r != null) return unescape(r[2]); return null;
			}  
			
			$(document).ready(function() {
				$("#openid_id").val($.getUrlParam('openid'));
				$("#nick_id").val($.getUrlParam('nickname'));				
				$("#memberid").val($.getUrlParam('mbid'));

				getPurchaselist();
			});			
		</script>

	</body>

</html>