<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>英语培育蕴德中心</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<link href="css/frozen.css" rel="stylesheet" />
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
		<script src="js/func.js"></script>
	</head>

	<body>

		<form id="feedbackinfo" method="post">

			<header class="ui-header ui-header-positive ui-border-b">
 				<div class="ui-col ui-col-90"><h1><input readonly="readonly" id="marketing_title" style="border:0; background:none; color:#FFFFFF; text-align:center" value="新增产品意见反馈" /></h1></div>
    			<div class="ui-col ui-col-10"><a href="javascript:gobackIndexMember();"><div class="weui-cell__hd"><img src="./images/home.png"  alt="" style="width:20px;vertical-align:middle"></div></a></div>		    			
    		</header>
			<br />
			<br />

			<div class="weui-cells weui-cells_form">
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">标题</label></div>
					<div class="weui-cell__bd">
						<input name="feedbackname" class="weui-input" type="text" value="产品反馈" />
					</div>
				</div>

				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">内容</label></div>
					<div class="weui-cell__bd">
						<input name="feedbackcontent" class="weui-input" type="text" placeholder="反馈内容" />
					</div>
				</div>

				<div class="weui-cell">
					<div class="weui-cell__hd"><label for="" class="weui-label">提出时间</label></div>
					<div class="weui-cell__bd">
						<input name="feedbacktime" class="weui-input" type="date" />
						<script language="JavaScript">
							today = new Date();
							feedbackinfo.feedbacktime.value = today.getYear() + '年' + today.getMonth() + '月' + today.getDay() + '日';
						</script>
					</div>
				</div>

			</div>
			<br />

			<div class="page__bd page__bd_spacing">
				<div class="button-sp-area">
					<a class="page-btn page-btn_primary" href="javascript:setfeedbackinfo();">新增</a>
					<input type="hidden" id="purchaseid1" name="purchaseid" value="1" />
					<input type="hidden" id="openid_id" name="openid_name" value="1" />
					<input type="hidden" id="nick_id" name="nick_name" value="1" />	
				</div>
			</div>
			
			<div class="weui-footer weui-footer_fixed-bottom">
				<p class="weui-footer__links">
					<a href="javascript:;" class="weui-footer__link">关于我们</a>
				</p>
				<p class="weui-footer__text">Copyright &copy; 2007-2017 wecareCRM</p>
			</div>			

		</form>
		<script type="text/javascript">
			$.fn.serializeObject = function() {
				var o = {};
				var a = this.serializeArray();
				$.each(a, function() {
					if(o[this.name]) {
						if(!o[this.name].push) {
							o[this.name] = [o[this.name]];
						}
						o[this.name].push(this.value || '');
					} else {
						o[this.name] = this.value || '';
					}
				});
				return o;
			};

			function setfeedbackinfo() {

				var formdata = $('#feedbackinfo').serializeObject();
											
				$.ajax({
					type: 'post',
					url: 'setfeedbackinfo',
					cache: false,
					dataType: 'json',
					data: JSON.stringify(formdata),
					contentType: 'application/json',
					　　　　　　async: false,
					success: function(data) {
						var result = JSON.stringify(data);
						alert('success:' + result);
					},
					error: function(data) {
						alert('failed:' + data.msg);
					}
				});
			}
			
			function gobackIndexMember() {
				var openid = document.getElementById('openid_id').value;
				var nkid = document.getElementById('nick_id').value;
				
				$.ajax({
					type: 'get',
					url: 'goindexmember',
					cache: false,
					async: false,
					dataType: 'json',
					　　　　　　contentType: 'application/json',
					success: function(data) {
						window.location.href = 'indexmember.html?openid='+openid+'&nickname='+nkid;
					},
					error: function(data) {
						alert(data.msg);
					}
				});
			}				
			
			jQuery.getUrlParam = function (name) {
     			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
     			var r = window.location.search.substr(1).match(reg);
     			if (r != null) return unescape(r[2]); return null;
			}  
			
			$(document).ready(function() {
				$("#openid_id").val($.getUrlParam('openid'));
				$("#nick_id").val($.getUrlParam('nickname'));					
				$("#purchaseid1").val($.getUrlParam('purid'));
				
			});				
		</script>

	</body>

</html>