<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>英语培育蕴德中心</title>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<link href="css/frozen.css" rel="stylesheet" />
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/weui.min.js"></script>
		<script src="js/zepto.min.js"></script>
		<script src="js/func.js"></script>
	</head>

	<body>

		<form id="qaonline_view" method="post">	
			<header class="ui-header ui-header-positive ui-border-b">
 				<div class="ui-col ui-col-90"><h1><input readonly="readonly" id="marketing_title" style="border:0; background:none; color:#FFFFFF; text-align:center" value="查看我的提问" /></h1></div>
    			<div class="ui-col ui-col-10"><a href="javascript:gobackIndexQAOnline();"><div class="ui-badge-muted">首页</div></a></div>		    			
    		</header>
			<br />

			<div class="weui-cells weui-cells_form">

				<div id="searchresult"></div>

				<br />
			
			</div>

			<div class="page__bd page__bd_spacing">
				<div class="page-btn-area">
					<input type="hidden" id="qaid_id" name="qaid_name" value="1" />
					<input type="hidden" id="openid_id" name="openid_name" value="1" />
					<input type="hidden" id="nick_id" name="nick_name" value="1" />
				</div>
			</div>

		</form>
		
		<script id="template" type="text/html">
			<div>
              <div class="weui-cells weui-cells_form">
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">问题类别</label></div>
					<div class="weui-cell__bd">
						<input  name="childname" class="weui-input" type="text" readonly="readonly" value=<#= name #> />
					</div>
				</div>
				
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">问题描述</label></div>
					<div class="weui-cell__bd">
						<textarea  name="childname" class="weui-textarea" readonly="readonly"><#= description #></textarea>
					</div>
				</div>
				
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">解答内容</label></div>
					<div class="weui-cell__bd">
						<textarea  name="childname" class="weui-textarea" readonly="readonly"><#= ask #></textarea>
					</div>
				</div>
				
			  </div>

			</div>
		</script>		

		<script type="text/javascript">
		$.fn.parseTemplate = function(data){ 
			var str = (this).html(); 
			var _tmplCache = {} 
			var err = ""; 
			try{ 
				var func = _tmplCache[str]; 
				if (!func){ 
					var strFunc = 
					"var p=[],print=function(){p.push.apply(p,arguments);};" + 
					"with(obj){p.push('" + 
					str.replace(/[\r\t\n]/g, " ") 
					.replace(/'(?=[^#]*#>)/g, "\t") 
					.split("'").join("\\'") 
					.split("\t").join("'") 
					.replace(/<#=(.+?)#>/g, "',$1,'") 
					.split("<#").join("');") 
					.split("#>").join("p.push('") 
					+ "');}return p.join('');";
					func = new Function("obj", strFunc); 
					_tmplCache[str] = func; 
				} 
					return func(data); 
			} catch(e){
				err = e.message; 
			} 
				return "< # ERROR: " + err.toString() + " # >"; 
		};
		
		function getqaonlineinfo() {
			var qaid = document.getElementById('qaid_id').value;
			var params = {
				id: qaid
			};

			$.ajax({
				type: 'get',
				url: 'getqaonlineinfo',
				cache: false,
				dataType: 'json',
				data: params,
				　　　　　　contentType: 'application/json',
				　　　　　　async: false,
				success: function(data) {
					//var result= JSON.stringify(data);
					//alert('success:' + result);
					var output = $('#template').parseTemplate(data);

					$('#searchresult').html(output);

				},
				error: function(data) {
					alert('failed:' + data.msg);
				}
			});
		}
		
		//goback indexqaonline
	    function gobackIndexQAOnline() {
			var openid = document.getElementById('openid_id').value;
			var nkid = document.getElementById('nick_id').value;
			
			$.ajax({
				type: 'get',
				url: 'goindexqaonline',
				cache: false,
				async: false,
				dataType: 'json',
				　　　　　　contentType: 'application/json',
				success: function(data) {
					window.location.href = 'indexqaonline.html?openid='+openid+'&nickname='+nkid;
				},
				error: function(data) {
					alert(data.msg);
				}
			});
		}
		
		//for open form	
		jQuery.getUrlParam = function (name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			var r = window.location.search.substr(1).match(reg);
			if (r != null) return unescape(r[2]); return null;
		}
           		
		$(document).ready(function() {
			$("#openid_id").val($.getUrlParam('openid'));
			$("#nick_id").val($.getUrlParam('nickname'));
		
			$("#qaid_id").val($.getUrlParam('qaid'));

			getqaonlineinfo();
			
		});
		</script>
	</body>

</html>