<?xml version="1.0" encoding="UTF-8"?>
<menu>
<button>
	<button>
		<name>体验活动</name>
		<sub_button>
			<name>课程试听</name>
			<type>click</type>
			<key>1_1</key>
		</sub_button>
		<sub_button>
			<key>1_2</key>
			<name>英语角</name>
			<type>click</type>
		</sub_button>
	</button>
	<button>
		<name>测试菜单</name>
		<type>click</type>
		<key>2</key>
	</button>
	<button>
		<name>更多信息</name>
		<sub_button>
			<name>会员中心</name>
			<key>3_1</key>
			<type>click</type>
		</sub_button>
		<sub_button>
			<name>联系我们</name>
			<key>3_2</key>
			<type>click</type>
		</sub_button>
	</button>
	</button>
</menu>
